
# Created by https://www.gitignore.io/api/.DS_Store
# Edit at https://www.gitignore.io/?templates=.DS_Store

#!! ERROR: .ds_store is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/.DS_Store
